/* Custom Continuous Marquee Animation */
@keyframes marqueeAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.custom-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marqueeAnimation 20s linear infinite;
}

.custom-marquee:hover {
  animation-play-state: paused;
}